<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jk.alienalarm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jk.alienalarm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jk.alienalarm.AlarmEditActivity"
            android:label="@string/new_alarm" >
        </activity>
        <activity
            android:name="com.jk.alienalarm.AlarmListActivity"
            android:label="@string/alarm_list" >
        </activity>

        <service android:name="com.jk.alienalarm.AlarmService" />

        <provider
            android:name="com.jk.alienalarm.db.AlarmProvider"
            android:authorities="com.jk.alienalarm.AlarmProvider"
            android:exported="false" />
    </application>

</manifest>